
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="text-align:center">
        <form>
            <h1>Registration Form</h1>
            <label for="uname">Enter Username : </label>
            <input type="text" name="uname" id="uname" required />
            <br /><br />
            <label for="pwd">Enter Password : </label>
            <input type="password" name="pwd" id="pwd" />
            <br /><br />
            <label for="gender">Gender : </label>
            <label for="gender">Male</label>
            <input type="radio" name="gender" id="male" value="male" />
            <label for="gender">Female</label>
            <input type="radio" name="gender" id="female" value="female" />
            <br /><br />
            <label for="course">Courses : </label>
            <label for="CSS">CSS</label>
            <input type="checkbox" name="CSS" id="CSS" />
            <label for="javascript">JavaScript</label>
            <input type="checkbox" name="javascript" id="javascript" />
            <label for=".net">.NET</label>
            <input type="checkbox" name=".net" id=".net" />
            <label for="ado.net">ADO.NET</label>
            <input type="checkbox" name="ado.net" id="ado.net" />
            <br /><br />
            <label for="courselevel">Course Level : </label>
            <select id="courselevel" name="courselevel">
                <option value="null">None of Above</option>
                <option value="basic">Basic</option>
                <option value="intermediate">Intermediate</option>
                <option value="advance">Advance</option>
            </select>
            <br /><br />
            <button type="reset">Reset</button>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
